.question {
	&-container {
		margin-bottom: 20px;
		padding: 20px 0;
	}

	&-title {
		font-size: 43px;
		line-height: 67px;
		color: #000000;
		margin-bottom: 20px;
	}

	&-description {
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 20px;
	}

	&-number {
		color: $text-color;
		font-size: 14px;
		font-weight: 500;
		margin-top: 15px;
		opacity: 0.7;
		text-align: center;
	}

	&-text {
		font-size: 18px;
		margin-bottom: 20px;
		font-weight: 600;
	}
}